name: AWS Regression Suite

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run_docker:
    name: Run Docker Container
    runs-on: ubuntu-latest
    concurrency:
      group: aws_regression_suite
      cancel-in-progress: false

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

    - name: Setup Codespace Container
      run: |
        echo "::group::Setup Codespace Container"
        docker run -d -v $(pwd):/app --workdir /app/glueops-tests --rm --name codespaces ghcr.io/glueops/codespaces:v0.118.0 sleep infinity
        echo "::endgroup::"

    - name: Running AWS Regression Suite
      env:
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        docker exec --workdir /app/glueops-tests -e AWS_SECRET_ACCESS_KEY -e AWS_ACCESS_KEY_ID=AKIA3COQJC7C2PNUKZV4 -e AWS_DEFAULT_REGION=us-west-2 codespaces sh ./run.sh
  
    - name: Run AWS Destroy Only (in case previous step failed)
      env:
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        docker exec --workdir /app/glueops-tests -e AWS_SECRET_ACCESS_KEY -e AWS_ACCESS_KEY_ID=AKIA3COQJC7C2PNUKZV4 -e AWS_DEFAULT_REGION=us-west-2 codespaces sh ./destroy-aws.sh
      if: always()

    - name: Delete Codespaces Container
      run: docker rm -f codespaces
      if: always()
